<tr class="table-info" data-min-alert={{minAlert}}>
    <td>{{brand}}</td>
    <td>{{type}}</td>
    <td>
        {{#each code}} <div class="code" type={{type}} color={{color}}>
            {{this}}
        </div> {{/each}}
    </td>
    <td>
        {{#each color}} <div class="color" type={{type}} code={{code}}>
            {{this}}
            <div class="color-icon-"{{this}}>

            </div>
        </div> {{/each}}
    </td>
    <td>
        {{#each quantity}} <div class="quantity" type={{type}} color={{color}} code={{code}}>
            {{this}}
        </div>
        <div class="change-quantity">
            <button type="button" class="change" value="add">
                <i class="fa fa-plus"></i>(+1)</button>
            <button type="button" class="change" value="minus">
                <i class="fa fa-plus"></i>(-1)</button>
        </div> {{/each}}
    </td>
    <td>
        {{#each lastUpdated}}
        <div class="Last-Updated" data-type={{type}} data-color={{color}} data-code={{code}}>
            {{this}}
        </div>
        {{/each}}
    </td>
    <td>
        <div class="notes">
            {{notes}}
        </div>
        <div class="edit">
            <button type="button" class="edit-notes-button">
                <i class="fa fa-plus"></i>Edit</button>
        </div>
    </td>
    <td>
        <div class="printer-name" data-type={{type}}>
            {{name}}
        </div>
    </td>
    <td>
        <div class="location" data-type={{type}}>
            {{location}}
        </div>
    </td>
    <td>
        <div class="edit-printer" data-type={{type}} data-brand={{brand}}>
            <button type="button" class="edit-printer-button">
                <i class="fa fa-plus"></i>Edit Printer</button>
        </div>
        <div class="remove-printer" data-type={{type}} data-brand={{brand}}>
            <button type="button" class="remove-item">
                <i class="fa fa-plus"></i>Remove Printer</button>
        </div>
    </td>
</tr>
